<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<body class="bg-dark">
    <div class="gradient"></div>
    <div class="home-page ">
        <nav class="navbar navbar-expand-lg navbar-light p-3">
            <a class="navbar-brand fs-3" href="#">Tech-Node</a>
            <a href="<%= login ? '/logout' : '/login' %>" ><button class="btn btn-outline-dark px-3 my-2 my-sm-0 fw-medium" type="button"><%= login ? 'Log-out' : 'Log-in' %></button></a>
        </nav>
        <div class="explore">
            <h1 class="pb-2">Welcome To TechNode</h1>
        </div>
    </div>
    <div class="container mt-5" id="cards">
        <div class="row">
            <% data.forEach(element=> { %>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="<%= element.download_url %>" class="card-img-top card-image" alt="...">
                        <div class="card-body">
                            <p class="card-text text-center">
                                <%= element.author %>
                            </p>
                        </div>
                    </div>
                </div>
                <% }); %>
        </div>
    </div>
    <%- include('./partials/script.ejs') %>
</body>

</html>